# Copia a .env en el servidor. No subas .env real.
CONFIG=/home/ubuntu/.jitsi-meet-cfg
HTTP_PORT=80
HTTPS_PORT=443
TZ=America/Panama
PUBLIC_URL=https://meet.relaticpanama.org
JVB_ADVERTISE_IPS=3.147.220.236
ENABLE_LETSENCRYPT=1
LETSENCRYPT_DOMAIN=meet.relaticpanama.org
LETSENCRYPT_EMAIL=tu-correo@dominio.com
ENABLE_HTTP_REDIRECT=1

# Obligatorias: genera con ./gen-passwords.sh
JICOFO_AUTH_PASSWORD=
JVB_AUTH_PASSWORD=
JIGASI_XMPP_PASSWORD=
JIGASI_TRANSCRIBER_PASSWORD=
JIBRI_RECORDER_PASSWORD=
JIBRI_XMPP_PASSWORD=
